<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body data-trip-id="<%= trip._id%>">
    <h1><%= trip.tripName %></h1>
    <a href="/trips/createNew">Start a new trip</a>
    <a href="/dashboard">Go to Dashboard</a>
    <a href="/logout">Logout</a>

    <h2>Starting in <%= trip.tripOrigin %></h2>

    <span>We are going to</span>

    <ul>
        <% for (let i = 0; i < trip.tripStops.length; i++) { %>
            <li class="location">
                <span><%= trip.tripStops[i] %></span>
                <img src="/images/trash.jpg" alt="" class="trash hidden">
            </li>
        <% } %>
    </ul>
    
    <div id="editsContainer">

    </div>

    <button type="button" class="hidden" id="addStopsEdit">Add Stop</button>
    <button type="button" class="hidden" id="saveEdits">Save edits</button>
    <button id="editTrip" class="">Edit this trip</button>
    <button type="button" class="hidden" id="deleteTrip">Delete trip</button>

    <script src="/js/editTrip.js" type="application/javascript"></script>
</body>
</html>