<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= trip.tripName %></h1>
    <a href="/trips/createNew">Start a new trip</a>
    <a href="/dashboard">Go to Dashboard</a>
    <a href="/logout">Logout</a>

    <h2>Starting in <%= trip.tripOrigin %></h2>

    <span>We are going to</span>

    <ul>
        <% for (let i = 0; i < trip.tripStops.length; i++) { %>
            <li><%= trip.tripStops[i] %></li>
        <% } %>
    </ul>
</body>
</html>